@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


::-webkit-scrollbar{
    display:none;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}


:root{
    --text: #060705;
    --background: #f5f8f4;
    --primary: #79b751;
    --secondary: #aade89;
    --accent: #89e251;
    --big-font: 3.5rem;
    --h2-font: 2.5rem;
    --p-font:1.5rem;
}

*::selection{
    background-color: var(--secondary);
    color: var(--text);
}

body{
    color:var(--text);
    background: var(--background);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 30px 50px;
    background: var(--background);
}

.logo-image {
    width: auto; 
    height: 40px;
}

.logo-text {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    color: var(--primary);
    font-weight: 600;
    font-size: 2.9rem;
}


/* home */
section {
    padding: 70px 17%;
}

.home {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 550px;
    height: auto;
}

.content h1 {
    font-size: var(--big-font);
    color: var(--primary);
}

.content p {
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.get-started {
    color: #fff;
    background-color: var(--primary);
    min-width: 100%;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-already {
    min-width: 100%;
    border-radius: 16px;
    border: 1px solid #e5e5e5;
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    color: var(--primary);
    background-color: #ddf4ff;
    border-color: #248627bd;
}

button:active {
    border-bottom: 2px solid var(--accent);
}


/* about */
.about{
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.about-img img{
    max-width: 100%;
    width:250px;
    height: auto;
}

.about-text h4{
    font-size: var(--h2-font);
    color: var(--primary);
    font-weight: 600;
}

.about-text p span{
    color: orange;
}

.about-text p{
    font-size: var(--p-font);
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}


/* level */
.heading{
    text-align: center;
}

.heading span{
    font-size: var(--p-font);
    color: var(--primary);
    font-weight: 600;
}

.heading h2{
    font-size: var(--h2-font);
}

.level-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}

.box{
    background: #CFFAB4;
    position: relative;
    margin-top: 3rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 1rem;
}

.box-img{
    height: 250px;
    width: 230px;
}

.box-img img{
    width: 90%;
    height: 100%;
}

.box h2{
    padding: 10px 0 0 0;
    font-size: 1.3rem;
    color: var(--text);
}


/* login pop up */
.login-modal{
    background-color: #dcdcdc;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-container{
    position: relative;
    top: 0;
    background-color: var(--background);
    border-radius: 5px;
    padding: 30px 50px;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: #dcdcdc;
}

.loginclose-btn{
    font-size: var(--big-font);
    position: relative;
    top: 0%;
    left: 20%; 
    width: 50px;
    height: 50px;
    color: #777777;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}

.login-details{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    color: gray;
}

.login-details h2{
    margin-bottom: 3%;
    color: var(--text);
    font-size: var(--h2-font);
    font-weight: 700;
    text-align:left;
}

.l-username{
    background-color: var(--background);
    border: none;
    width: 37%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 20px;
}

.l-password{
    background-color: var(--background);
    border: none;
    width: 37%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 15px;
}

.login-btn{
    color: #fff;
    background-color: var(--primary);
    min-width: 37%;
    border-radius: 16px;
    border: 1px solid var(--accent);
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* sign up pop up */
.signup-modal{
    background-color: #dcdcdc;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-container{
    position: relative;
    top: 0;
    background-color: var(--background);
    border-radius: 5px;
    padding: 30px 50px;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #dcdcdc;
}

.signupclose-btn {
    font-size: var(--big-font);
    position: relative;
    top: 5%;
    left: 10%;
    width: 50px;
    height: 50px;
    color: #777777;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}

.signup-details{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    color: gray;
}

.signup-details h2{
    margin-bottom: 3%;
    color: var(--text);
    font-size: var(--h2-font);
    font-weight: 700;
    text-align:left;
}
#sfname {
    background-color: var(--background);
    border: none;
    width: 60%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 20px;
}

#slname {
    background-color: var(--background);
    border: none;
    width: 60%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 20px;
}

#susername{
    background-color: var(--background);
    border: none;
    width: 60%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 20px;
}

#semail{
    background-color: var(--background);
    border: none;
    width: 60%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 20px;
}

#spassword{
    background-color: var(--background);
    border: none;
    width: 60%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 15px;
}

#cpassword {
    background-color: var(--background);
    border: none;
    width: 60%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 20px;
}

.signup-btn {
    color: #fff;
    background-color: var(--primary);
    min-width: 60%;
    border-radius: 16px;
    border: 1px solid var(--accent);
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* footer */
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #646464;
    height: auto;
    width: 100%;
    font-family: "Nunito", sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    color: var(--accent);
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.contact-btn{
    color: #fff;
    background-color: var(--primary);
    min-width: 40%;
    border-radius: 16px;
    border: 1px solid var(--accent);
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content p{
    padding: 10px 20px;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #2d2d2d;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* contact us pop up */
.contact-modal{
    background-color: #dcdcdc;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    position: absolute;
    top: -2%;
    background-color: var(--background);
    border-radius: 5px;
    padding: 15px 25px;
    text-align: center;
    width: 70%;
    background-color: #dcdcdc;
}

.close-btn {
    font-size: var(--big-font);
    position: absolute;
    top: 22%;
    right: 0; 
    width: 50px;
    height: 50px;
    color: #777777;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    z-index: 100; /* Ensure it's above other elements */
}


.contact-center{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    color: gray;
}

.contact-center-title h2{
    margin-top: 10%;
    margin-bottom: 3%;
    color: var(--text);
    font-size: var(--h2-font);
    font-weight: 700;
    text-align:center;
}

.contact-center-title hr{
    margin-bottom: 3%;
}

.contact-input{
    background-color: var(--background);
    border: none;
    width: 70%;
    border-radius: 1rem;
    padding: 15px 15px;
    box-shadow: 0 3px 0 0 rgba(44, 101, 30, 0.721);
    margin-bottom: 20px;
}

.send-btn {
    color: #fff;
    background-color: var(--primary);
    width: 70%; /* Adjust width as needed */
    border-radius: 16px;
    border: 1px solid var(--accent);
    border-bottom: 4px solid #248627bd;
    margin: 10px auto; /* Centering horizontally */
    transition: all 0.1s;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*media queries*/

@media(max-width:1560px){
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font: 3rem;
        --h2-font: 2rem;
    }
    
}

@media(max-width: 1140px){
    section{
        padding: 50px 8%;
    }
    #menu-icon{
        display: initial;
        color: var(--primary);
        cursor: pointer;
    }
    header .navbar{
        position: absolute;
        top: -200px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: var(--primary);
        transition: top .3s;
        z-index: 1001;
    }

    header .navbar .active{
        top: 70px;
    }

    .navbar a{
        padding:1.5rem;
        display: block;
    }


    .login-container #username{
        width: 100%;
    }

    .login-modal #password{
        width: 100%;
    }

    .login-btn{
        width: 100%;
    }

    .signup-modal #s-username{
        width: 100%;
    }
    .signup-modal #s-email{
        width: 100%;
    }
    .signup-modal #s-password{
        width: 100%;
    }

    .signup-btn{
        width: 100%;
    }

}

@media(max-width: 720px){
    header{
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    section{
        padding: 100px 7%;
    }
    .login-modal #username{
        width: 120%;
    }

    .login-modal #password{
        width: 120%;
    }

    .login-btn{
        width: 120%;
    }

    .signup-modal #s-username{
        width: 120%;
    }
    .signup-modal #s-email{
        width: 120%;
    }
    .signup-modal #s-password{
        width: 120%;
    }

    .signup-btn{
        width: 120%;
    }
}

@media(max-width: 575px){
    .login-container{
        width: 80%;
    }
    .login-modal #username{
        width: 130%;
    }

    .login-modal #password{
        width: 130%;
    }

    .login-btn{
        width: 130%;
    }

    .signup-container{
        width: 90%;
    }

    .signup-modal{
        width:100%;
    }

    .signup-modal #s-username{
        width: 130%;
    }
    .signup-modal #s-email{
        width: 130%;
    }
    .signup-modal #s-password{
        width: 130%;
    }

    .signup-btn{
        width: 130%;
    }
}

@media(max-width: 412px){
    .login-container{
        width: 90%;
    }
    .contact-container{
        width: 90%;
    }

    .login-modal{
        width:100%;
    }

    .login-modal #username{
        width: 140%;
    }

    .login-modal #password{
        width: 140%;
    }

    .login-btn{
        width: 140%;
    }

    .signup-container{
        width: 90%;
    }

    .signup-modal{
        width:100%;
    }

    .signup-modal #s-username{
        width: 140%;
    }
    .signup-modal #s-email{
        width: 140%;
    }
    .signup-modal #s-password{
        width: 140%;
    }

    .signup-btn{
        width: 140%;
    }
}

@media(max-width: 575px){
    .contact-container{
        width: 90%;
    }
    .contact-input{
        width: 140%;
    } 
    .submit-btn{
        width: 140%;
    }
}

@media(max-width: 720px){
    .contact-container{
        width: 90%;
    }
    .contact-input{
        width: 120%;
    } 

    .submit-btn{
        width: 120%;
    }
}

@media(max-width: 412px){
    .contact-container{
        width: 90%;
    }
    .contact-input{
        width: 140%;
    } 
    .submit-btn{
        width: 140%;
    }
}


.success-modal {
    background-color: #dcdcdc;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-container{
    position: relative;
    top: 10%;
    background-color: var(--background);
    border-radius: 5px;
    padding: 30px 50px;
    text-align: center;
    width: 100%;
    height: 80vh;
    background-color: #dcdcdc;
}

.successclose-btn{
    font-size: var(--big-font);
    position: absolute;
    top: 5%;
    left: 20%; 
    width: 50px;
    height: 50px;
    color: #777777;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
}

.success-details{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    color: gray;
}

.success-details h2{
    margin-bottom: 3%;
    color: var(--text);
    font-size: var(--h2-font);
    font-weight: 700;
    text-align:left;
}

.gotologin-btn{
    color: #fff;
    background-color: var(--primary);
    min-width: 50%;
    border-radius: 16px;
    border: 1px solid var(--accent);
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-modal.open{
    opacity: 1;
    z-index:999;
}



.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center h1 {
    color: forestgreen;
}
