div[style*="height: 65px;"] {
    display: none;
}

div[style*="opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;"] {
    display: none;
}




.profilemain {
    position: absolute;
    background: var(--background);
    width: 70%;
    margin-left: 120px;
    margin-top: 80px;
    border-bottom: 3px solid grey;
}


.avatar-option {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    margin: 10px;
}

   


.avatardv {
    position: relative;
    background-color: rgb(175, 175, 175);
    height: 200px;
    width: 430px;
    border-radius: 20px;
    overflow: hidden;
    /*  border: 2px solid grey; */
}

.selected-avatar {
    width: 500px;
    height: 200px;
    margin-left: 65px;
    margin-top: 17px;
}

.editbtn {
    font-weight: 500;
    font-family: 'Nunito', Helvetica, sans-serif;
    font-size: medium;
    position: absolute;
    color: #fff;
    background-color: var(--primary);
    width: 50px;
    border-radius: 16px;
    border: 1px solid var(--accent);
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 370px;
    margin-top: 13px;
}

    .editbtn:hover {
        color: var(--text);
        background-color: var(--secondary);
        border-color: #4c8128;
    }

    .editbtn:active {
        border-bottom: 2px solid #4c8128;
    }


/* #edit{
    position: absolute;
    color: rgb(0, 0, 0);;
    width: 30px;
    border-radius: 16px;
    transition: all 0.1s;
    padding: 15px 15px;
    cursor: pointer;
    border-radius: 1rem;
    
    border: 2px solid black;
        
    }*/


.profilemain {
    margin-bottom: 20px;
}

    .profilemain #datejoinedlabel {
        position: relative;
        margin-top: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

#statistics {
    position: absolute;
    font-weight: 900;
    font-size: 1.3rem;
    top: 1%;
    left: 50%
}

.daystreak {
    position: absolute;
    background-color: #f5f8f4;
    height: 100px;
    width: 410px;
    border-radius: 20px;
    border: 2px solid grey;
    top: 1%;
    left: 50%;
}

/************* streak dv****************/

.streak-sts {
    background-image: url(/images/icons/firestreaksml.jpg);
    background-repeat: no-repeat;
    height: 35px;
    width: 25px;
    margin: 9px;
    margin-left: 20px;
    margin-top: 20px;
}

#tsp {
    position: absolute;
    margin-left: 130px;
    margin-top: 40px;
}

#tspdb {
    margin-left: 100px;
    margin-top: -40px;
}

/****************** ranks / leaderboards ***************/
.rank {
    position: absolute;
    background-color: #f5f8f4;
    height: 100px;
    width: 410px;
    border-radius: 20px;
    border: 2px solid grey;
    left: 50%;
    top: 45%;
}

.rkdv {
    background-image: url(/images/icons/leaderboardcolor.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    margin: 9px;
    margin-left: 20px;
    margin-top: 20px;
}

#ctr {
    position: absolute;
    margin-left: 130px;
    margin-top: 40px;
}

/*********************** Account Div ***********************/
.account {
    background-color: #f5f8f4;
    height: 400px;
    width: 890px;
    position: absolute;
    right: 10px;
    top: 110%;
}

#acct {
    font-weight: 900;
}

.avatar-option.selected {
    border-color: blue;
}


/* CSS for modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#closebtn{
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #fff;
    background-color: var(--primary);
    width: 50px;
    border-radius: 16px;
    border: 1px solid var(--accent);
    border-bottom: 4px solid #248627bd;
    margin: 10px;
    transition: all 0.1s;
    padding: 10px 5px;
    cursor: pointer;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

#closebtn:hover {
    color: var(--text);
    background-color: var(--secondary);
    border-color: #4c8128;
}

#closebtn:active {
    border-bottom: 2px solid #4c8128;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 1000px;
    text-align: center;
}

    .modal-content img {
        margin: 5px;
    }


